<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/admin.css">
    

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/home"> SoundScape</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="admin-panel-container">
        <div class="container">
            <h1>Welcome to the Admin Panel</h1>
            <h2>User List</h2>
            <ul class="admin-user-list">
                <% users.forEach(user => { %>
                    <li>
                        <%= user.username %>
                        <form action="/admin/delete-user/<%= user._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <button class="delete-btn" type="submit">Delete</button>
                        </form>
                        <a class="edit-btn" href="/admin/edit-user/<%= user._id %>">Edit</a>
                    </li>
                <% }); %>
            </ul>
            <h2>Add New User</h2>
            <form action="/admin/add-user" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Add User">
            </form>

            <h2>Item List</h2>
            <div class="row">
                <% items.forEach(item => { %>
                    <div class="col-md-6 mb-4"> <!-- Added "mb-4" class for margin-bottom -->
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><%= item.itemNameEn %></h3>
                                <p class="card-text"><%= item.itemDescriptionEn %></p>
                                <h3 class="card-title"><%= item.itemNameLocalized %></h3>
                                <p class="card-text"><%= item.itemDescriptionLocalized %></p>
                                <div id="carousel<%= item._id %>" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="<%= item.image1 %>" class="d-block w-100" alt="Image 1">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= item.image2 %>" class="d-block w-100" alt="Image 2">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= item.image3 %>" class="d-block w-100" alt="Image 3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Created: <%= item.createdAt %></p>
                        <p>Last Updated: <%= item.updatedAt %></p>
                        <button class="submit" onclick="toggleEditForm('<%= item._id %>')">Edit</button>

                        <form action="/admin/delete-item/<%= item._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <button type="submit">Delete</button>
                        </form>
                        <div id="editForm<%= item._id %>" style="display: none;">
                            <h2>Edit Item</h2>
                            <form action="/admin/edit-item/<%= item._id %>" method="POST">
                                <label for="itemNameEn">Item Name (English):</label>
                                <input type="text" id="itemNameEn<%= item._id %>" name="itemNameEn" value="<%= item.itemNameEn %>" required>
                                <input type="text" name="itemNameLocalized" placeholder="Item Name (Localized)" value="<%= item.itemNameLocalized %>" required>
                                <textarea name="itemDescriptionEn" placeholder="Item Description (English)" required><%= item.itemDescriptionEn %></textarea>
                                <textarea name="itemDescriptionLocalized" placeholder="Item Description (Localized)" required><%= item.itemDescriptionLocalized %></textarea>
                                <input type="text" name="image1" placeholder="Image 1 URL" value="<%= item.image1 %>" required>
                                <input type="text" name="image2" placeholder="Image 2 URL" value="<%= item.image2 %>" required>
                                <input type="text" name="image3" placeholder="Image 3 URL" value="<%= item.image3 %>" required>
                                <button type="submit">Save Changes</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
            <h2>Add New Item</h2>
            <form id="addItemForm" action="/admin/addItem" method="post">
                <input type="text" name="itemNameEn" placeholder="Item Name (English)" required>
                <input type="text" name="itemNameLocalized" placeholder="Item Name (Localized)" required>
                <textarea name="itemDescriptionEn" placeholder="Item Description (English)" required></textarea>
                <textarea name="itemDescriptionLocalized" placeholder="Item Description (Localized)" required></textarea>
                <input type="text" name="image1" placeholder="Image 1 URL" required>
                <input type="text" name="image2" placeholder="Image 2 URL" required>
                <input type="text" name="image3" placeholder="Image 3 URL" required>
                <button type="submit">Add Item</button>
            </form>

        </div>
    </div>

    <script>
        function toggleEditForm(itemId) {
            var editForm = document.getElementById('editForm' + itemId);
            if (editForm.style.display === "none") {
                editForm.style.display = "block";
            } else {
                editForm.style.display = "none";
            }
        }
    </script>

    <!-- <footer class="fixed-bottom bg-light text-center py-2">
        <p>Merlenkyzy Nargiz SE-2204</p>
    </footer> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></body>
</body>
</html>
