<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/home"> SoundScape</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deezer">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lyrics">Lyrics</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>


 
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        
        <div class="item-container">
            <% items.forEach(item => { %>
                <div class="item-block">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="<%= item.image1 %>" class="d-block w-100" alt="Image 1">
                            </div>
                            <div class="carousel-item">
                                <img src="<%= item.image2 %>" class="d-block w-100" alt="Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="<%= item.image3 %>" class="d-block w-100" alt="Image 3">
                            </div>
                        </div>
                        
                    </div>
                    <h2><%= item.itemNameEn %></h2>
                    <p><%= item.itemDescriptionEn %></p>
                    <h2><%= item.itemNameLocalized %></h2>
                    <p><%= item.itemDescriptionLocalized %></p>
                </div>
            <% }); %>
        </div>
    </div>

    <footer class="fixed-bottom bg-light text-center py-2">
        <p>Merlenkyzy Nargiz SE-2204</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>